*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'lalezar';
  src: url('../src/assets/fonts/Lalezar-Regular.ttf');
}

@font-face {
  font-family: 'yekan';
  src: url('../src/assets/fonts/Yekan.ttf');
}

.lalezar{
  font-family: 'lalezar';
}

.yekan{
  font-family: 'yekan';
}